nav{
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #8d6160cb;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left, .right{
        display: flex;
        gap: 1rem;
    }

    .battery{
        // mix-blend-mode: multiply;
        color: white;
        filter: invert(1) brightness(2);
        width: 0.5rem;
    }
}